@model WebTools.Models.DataSimulator

<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Clean Blog - Start Bootstrap Theme</title>

    <!-- Bootstrap core CSS -->
    <link href="~/Content/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="~/Content/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>

    <!-- Custom styles for this template -->
    <link href="~/Content/css/clean-blog.min.css" rel="stylesheet">

</head>

<body>

    <!-- Page Header -->
    <header class="masthead" style="background-image: url('/Content/img/bluePig.jpg')">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-10 mx-auto">
                    <div class="page-heading">
                        <h1>Simulator</h1>
                        <span class="subheading">Future Financial Planning Tool.</span>
                    </div>
                </div>
            </div>
        </div>
    </header>
    @*<div class="form-group">
            <label for="usr">Name:</label>
            <input type="text" class="form-control" id="usr">
        </div>*@
    <!-- Main Content -->
    @using (Html.BeginForm())
    {
    @Html.ValidationSummary(true)
    <div class="container">
        <h2>Person Data</h2>
        <div class="form-group">
            <div class="d-flex align-items-start bg-light mb-3" style="height: 100px;">
                <div class="col">
                    <label>Name</label><br />
                    @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Name)
                </div>
                <div class="col">
                    <label>Birth Date</label><br />
                    @Html.EditorFor(model => model.birthDate, new { htmlAttributes = new { @class = "form-control datetimepicker" } })
                    @Html.ValidationMessageFor(model => model.birthDate, "", new { @class = "text-danger" })

                </div>
                <div class="col">
                    <label>Retired Date</label><br />
                    @Html.EditorFor(model => model.retiredDate, new { htmlAttributes = new { @class = "form-control datetimepicker" } })
                    @Html.ValidationMessageFor(model => model.retiredDate, "", new { @class = "text-danger" })

                </div>
            </div>
        </div>
        <h2>Financial Data</h2>
        <div class="form-group">
            <div class="d-flex align-items-start bg-light sm-3" style="height: 100px;">
                <div class="col">
                    <label>Monthly Value</label><br />
                    @Html.EditorFor(model => model.monthlyValue, "{0:c}", new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.monthlyValue)

                </div>
                <div class="col">
                    <label>Annual Value</label><br />
                    @Html.EditorFor(model => model.annualValue, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.annualValue)
                </div>
                <div class="col-sm-3">
                    <label>Annual Profitability</label>
                    <select class="form-control" id="AnnualProfitability" name="AnnualProfitability">
                        <option value="1">1%</option>
                        <option value="2">2%</option>
                        <option value="3">3%</option>
                    </select>
                </div>

            </div>
        </div>
        <p><input type="submit" value="Simulate" class="btn btn-primary" /></p>
    </div>
    }

    <!-- Bootstrap core JavaScript -->
    <script src="~/Content/vendor/jquery/jquery.min.js"></script>
    <script src="~/Content/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Custom scripts for this template -->
    <script src="~/Content/js/clean-blog.min.js"></script>

</body>

</html>
@section Scripts{
    @Scripts.Render("~/bundles/jqueryval");
    @Scripts.Render("~/bundles/inputmask")
}
<script>
    $('input.CurrencyInput').on('blur', function () {
        const value = this.value.replace(/,/g, '');
        this.value = parseFloat(value).toLocaleString('en-US', {
            style: 'decimal',
            maximumFractionDigits: 2,
            minimumFractionDigits: 2
        });
    })
</script>
