@model WebTools.Models.DataFinancy

@section Scripts{
    @Scripts.Render("~/bundles/jqueryval");

}

<style>
    .label {
        font-weight: bold;
        font-size: 18px;
    }
</style>

<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Clean Blog - Start Bootstrap Theme</title>

    <!-- Bootstrap core CSS -->
    <link href="~/Content/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <script src="~/Scripts/angular.js"></script>

    <!-- Custom fonts for this template -->
    <link href="~/Content/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>

    <!-- Custom styles for this template -->
    <link href="~/Content/css/clean-blog.min.css" rel="stylesheet">

</head>

<body>

    <!-- Page Header -->
    <header class="masthead" style="background-image: url('/Content/img/calc.jpg')">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-10 mx-auto">
                    <div class="page-heading">
                        <h1>Simulate your financing here</h1>
                        <span class="subheading">I help you plan!</span>
                    </div>
                </div>
            </div>
        </div>
    </header>
    @*<div class="form-group">
            <label for="usr">Name:</label>
            <input type="text" class="form-control" id="usr">
        </div>*@
    <!-- Main Content -->
    @using (Html.BeginForm())
    {
@Html.ValidationSummary(true)
<div ng-app class="container">
    <h2>Simulator Financial</h2>
    <h3 style="color:red">under construction*</h3>
    <div class="form-group">
        <div class="d-flex align-items-start bg-light mb-3" style="height: 100px;">
            <div class="col">
                <label>Gross Value</label><br />
                @Html.EditorFor(model => model.grossValue, new { htmlAttributes = new { @class = "form-control decimalnumber" } })
                @Html.ValidationMessageFor(model => model.grossValue)
            </div>
            <div class="col">
                <label>Installment in Years</label><br />
                @Html.DropDownListFor(model => model.SelectedPortionIds, Model.PortionList, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.SelectedPortionIds)
            </div>
            <div class="col">
                <label>Tax Percentual</label><br />
                @Html.DropDownListFor(model => model.SelectedPercIds, Model.PercList, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.SelectedPercIds)
            </div>
            <div class="col">
                <label>Salary</label><br />
                @Html.EditorFor(model => model.salary, new { htmlAttributes = new { @class = "form-control decimalnumber" } })
                @Html.ValidationMessageFor(model => model.salary)
            </div>
        </div>
    </div>
    
    <div class="form-group" ng-show="@Model.totalValue != 0">
        <h2>Result</h2>
        <div class="d-flex align-items-start bg-light sm-3" style="height: 100px;">
            <div class="col">
                <label>Installment Value</label><br />
                @Model.valuePortion.ToString("C")
            </div>
            <div class="col">
                <label>Total Financed</label><br />
                @Model.totalValue.ToString("C")
            </div>
            <div class="col">
                <label>Grant Date</label><br />
                @Model.concessao.ToString("MM/dd/yyyy")
            </div>
        </div>
    </div>


    <p><input type="submit" value="Simulate" class="btn btn-primary" /></p>
</div>}

    <!-- Bootstrap core JavaScript -->
    <script src="~/Content/vendor/jquery/jquery.min.js"></script>
    <script src="~/Content/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Custom scripts for this template -->
    <script src="~/Content/js/clean-blog.min.js"></script>


</body>

</html>

<script>
    $('.decimalnumber').change(function () {
        var num = new Number($(this).val());
        if (isNaN(num)) {
            // Its not a valid number
            return;
        }
        $(this).val(num.toFixed(2));
    })</script>
